<section class="wrapper">
    <div class="form">
        <form [formGroup]="formLogin">
            <h1 class="form__title">
                <strong class="form__title_bold">Pay</strong>Friends
            </h1>

            <h2 class="form__subtitle">{{ 'welcomeBack' | translate }}</h2>

            <div class="mb-2">
                <po-input
                    p-clean
                    id="email"
                    formControlName="email"
                    p-icon="po-icon-user"
                    p-placeholder="Email"
                    [p-auto-focus]="true"
                >
                </po-input>
            </div>

            <div class="mb-3">
                <po-password
                    name="password"
                    id="password"
                    class="passwords"
                    p-placeholder="{{ 'password' | translate }}"
                    formControlName="password"
                >
                </po-password>
            </div>

            <button
                type="submit"
                class="form__button po-md-12"
                (click)="login()"
            >
                {{ 'logIn' | translate }}
            </button>
          </form>
    </div>

    <div class="image">
        <img src="../../assets/images/image-login.svg">
    </div>
</section>
