@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .wrapper {
        @apply
            flex
            justify-between
            m-0
            p-0
            h-screen
            w-screen
        ;
    }

    .form {
        @apply
            bg-[#F2F2F2]
            w-[30vw]
            flex
            justify-center
            items-center
            sm:w-[100vw]
        ;
    }

    .form__title {
        @apply
            text-xl
            text-[#2f82dd]
            font-normal
        ;
    }

    .form__title_bold {
        @apply
            text-[#002d69]
            font-black
        ;
    }

    .form__subtitle {
        @apply
            text-2xl
            text-[#333333]
            font-semibold
        ;
    }

    .form__button {
        @apply
            bg-[#007DFE]
            hover:bg-[#0050fe]
            text-[#FFFFFF]
            p-1
            rounded
            text-sm
            font-normal
        ;
    }

    .image {
        @apply
            w-[70vw]
            flex
            justify-center
            items-center
            sm:hidden
        ;
    }
}
