<app-navbar></app-navbar>

<section>
    <div class="wrapper">
        <div class="container-table">
            <h2>Meus pagamentos</h2>

            <div class="text-end mb-3">
                <button type="button" class="btn btn-primary btn-sm" (click)="newPayment.open(); advancedFilterForm.reset();">
                    ADICIONAR PAGAMENTO
                </button>
            </div>

            <div class="table-list">
                <div class="header-table">
                    <po-input
                        p-clean
                        class="po-md-3 po-pr-0"
                        p-icon="po-icon-search"
                        p-placeholder="Pesquisar por usuário"
                        [(ngModel)]="userSearch"
                        (p-change)="onChangeQuickSearch()"
                        (keypress)="keyPressInput($event.keyCode)"
                    >
                    </po-input>
                    <po-button
                        p-icon="po-icon po-icon-parameters"
                        p-label="Filtros"
                        class="po-mt-1 po-ml-1"
                        (p-click)="advancedFilterModal.open()"
                    >
                    </po-button>

                    <div class="po-md-7 container-combo-box">
                        <po-combo
                            name="combo"
                            class="po-md-2"
                            p-placeholder="Exibir"
                            [p-options]="[{ value: 5 }, { value: 10 }, { value: 15 }]"
                            (p-change)="onChangeCombo($event)"
                        >
                        </po-combo>
                    </div>

                    <ul class="pagination pt-2">
                        <li class="page-item">
                            <po-button p-type="link" p-label="&laquo;" (p-click)="onChangePagination('previous')"></po-button>
                        </li>
                        <li *ngFor="let page of totalPages" class="page-item">
                            <po-button
                                [p-type]="currentPage === page ? 'primary' : 'link'"
                                [p-label]="page"
                                (p-click)="getItems(page, pageSize)"
                            >
                            </po-button>
                        </li>
                        <po-icon></po-icon>
                        <li class="page-item">
                            <po-button p-type="link" p-label="&raquo;" (p-click)="onChangePagination('next')"></po-button>
                        </li>
                    </ul>
                </div>

                <po-table
                    [p-sort]="true"
					[p-striped]="true"
                    [p-actions]="tableActions"
                    [p-columns]="paymentColumns"
                    [p-items]="paymentItems"
                    [p-loading]="isLoading"
                    [p-hide-columns-manager]="true"
                >
                    <ng-template p-table-cell-template let-value let-row="row">
                        <po-checkbox (p-change)="onPaidChecked(row)" [ngModel]="row.paid"></po-checkbox>
                    </ng-template>
                    
                    <ng-template p-table-column-template p-property="user" let-value let-i="rowIndex">
                        <div class="display-grid po-pt-2">
                            <span [innerText]="value"></span>
                            <span class="po-font-text-small color-gray po-pb-2" [innerText]="'@picpay'"></span>
                        </div>
                    </ng-template>

                    <ng-template p-table-column-template p-property="date" let-value let-i="rowIndex">
                        <div class="display-grid po-pt-2">
                            <span [innerText]="value | date : 'mediumDate'"></span>
                            <span class="po-font-text-small color-gray po-pb-2" [innerText]="value | date : 'shortTime'"></span>
                        </div>
                    </ng-template>
                </po-table>
            </div>
        </div>
    </div>
</section>

<po-modal
    #newPayment
    p-title="Adicionar pagamento"
>
    <form [formGroup]="advancedFilterForm">
        <div class="po-row">
            <div class="po-md-6 po-pl-0">
                <po-input
                    p-clean
                    formControlName="user"
                    p-placeholder="Usuário*"
                    [p-auto-focus]="true"
                    [p-maxlength]="50"
                >        
                </po-input>
            </div>

            <div class="po-md-6 po-pr-0">
                <po-number
                    p-clean
                    formControlName="value"
                    p-placeholder="Valor*"
                >
                </po-number>
            </div>
        </div>

        <div class="po-row">
            <div class="po-md-6 po-pl-0">
                <po-datepicker
                    p-clean
                    formControlName="date"
                    p-format="dd/mm/yyyy"
                    p-placeholder="Data*"
                >
                </po-datepicker>
            </div>

            <div class="po-md-6 po-pr-0">
                <po-input
                    p-clean
                    formControlName="title"
                    p-placeholder="Título*"
                    [p-maxlength]="50"
                >        
                </po-input>
            </div>
        </div>
    </form>

    <po-modal-footer [p-disabled-align]="false">
        <po-button
            p-type="default"
            p-label="Cancelar"
            (p-click)="newPayment.close(); advancedFilterForm.reset(); editRegister = false;"
        >
        </po-button>
        <po-button
            p-type="primary"
            p-label="Salvar"
            (p-click)="savePayment(advancedFilterForm.value)"
        >
        </po-button>
    </po-modal-footer>
</po-modal>

<po-modal
    #advancedFilterModal
    p-title="Filtro avançado"
    [p-primary-action]="advancedFilterPrimaryAction"
>
    <div class="po-row po-mr-0 po-ml-0">
        <po-input
            p-clean
            p-placeholder="Usuário"
            class="po-md-6 po-pl-0"
            [(ngModel)]="userSearchAdvanced"
        >
        </po-input>

        <div class="po-md-6 po-pr-0">
            <po-input
                p-clean
                p-placeholder="Título"
                [(ngModel)]="titleSearchAdvanced"
            >
            </po-input>
        </div>
    </div>

    <div class="po-row po-mr-0 po-ml-0">
        <po-datepicker
            p-clean
            class="po-md-6 po-pl-0"
            p-format="dd/mm/yyyy"
            p-placeholder="Data"
            [(ngModel)]="dateSearchAdvanced"
        >
        </po-datepicker>

        <div class="po-md-6 po-pr-0">
            <po-input
                p-clean
                p-placeholder="Valor"
                [(ngModel)]="valueSearchAdvanced"
            >
            </po-input>
        </div>
    </div>
</po-modal>